@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* globals.css */

@media (min-width: 320px) {
  html {
    font-size: 0.8rem; /* 10px For small screens */
  }
}

@media (min-width: 768px) {
  html {
    font-size: 0.875rem; /*14px For large screens */
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 1rem; /* 16px For extra-large screens */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dark-blue {
  color: hsl(220, 13%, 13%);
}

.dark-grayish-blue {
  color: hsl(219, 9%, 45%);
}

.grayish-blue {
  color: hsl(220, 14%, 75%);
}

.light-grayish-blue {
  color: hsl(223, 64%, 98%);
}
